body videogular vg-scrub-bar [role=slider], 
body [videogular] vg-scrub-bar [role=slider] {
    height: 16px !important;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

td.seeker {
    white-space: nowrap;
}

.btn__seek {
    color: #FFFFFF;
    display: inline;
    font-family: Arial;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: 0 10px 0 4px;
    margin: 0;
    background-color: transparent;
    border: none;
}
.btn__seek:first-of-type {
    padding-right: 10px;
}